
{% extends "layout.html" %}

{% block content %}
<div class="container-fluid rounded">
  <br>
  <br>
  <br>
    <div class="Attraction">
      <div class="container-fluid rounded">
        <div class="row">
          <div class="col-sm">
            <h1>Local Attractions</h1>
            <hr>
            <br>
            <h1>LA Galaxy Football Club</h1>
    			  <img src="/static/img/LAFC.jpg" alt="LA galaxy football ground">
            <br>
            <br>
    			  <h3>The LA Galaxy, also known as the Los Angeles Galaxy, is an American professional soccer franchise based in the Los Angeles suburb of Carson, California, that competes in Major League Soccer, as a member of the Western Conference.
    			  The club began play in 1996 as one of the league's eight charter members. It has seen the likes of David Beckham and Zlatan Ibrahimović in it's ranks. </h3>
          </div>
          <div class="col-sm">
          </div>
        </div>
	  </div>
    </div>
   <br>
   <br>
	 <div class="Attraction">
      <div class="container-fluid rounded">
        <div class="row">
          <div class="col-sm">
              <h1>Venice Beach</h1>
			  <img src="/static/img/venice_beach.jpg" alt="Venice beach">
        <br>
        <br>
			  <h3>Known for its bohemian spirit, Venice is a buzzing beach town with upscale commercial and residential pockets.
			  Free-spirited Venice Boardwalk is the site of funky shops, street performers and colorful murals.
			  There’s also a skate park and Muscle Beach outdoor gym. Abbot Kinney Boulevard features foodie hot spots,
			  stylish boutiques and coffee bars. A picturesque enclave of canals is surrounded by modernist homes.</h3>
          </div>
          <div class="col-sm">
          </div>
        </div>
	  </div>
    </div>
  <br>
  <br>
	<div class="Attraction">
      <div class="container-fluid rounded">
        <div class="row">
          <div class="col-sm">
              <h1>Universal Studios</h1>
			  <img src="/static/img/US.jpg" alt="Universal Studios">
        <br>
        <br>
			  <h3>Universal Studios Hollywood is a film studio and theme park in the San Fernando Valley area of Los Angeles County, California.
			  About 70% of the studio lies within the unincorporated county island known as Universal City while the rest lies within the city limits of Los Angeles, California.</h3>
          </div>
          <div class="col-sm">
          </div>
        </div>
	  </div>
    </div>
    <br>
    <br>
	<div class="Attraction">
      <div class="container-fluid rounded">
        <div class="row">
          <div class="col-sm">
              <h1>Hollywood Walk of Fame</h1>
			  <img src="/static/img/hollywood-walk-of-fame2.jpg" alt="Walk of fame">
        <br>
        <br>
			  <h3>The Hollywood Walk of Fame comprises more than 2,600 five-pointed terrazzo and brass stars embedded in the sidewalks along 15 blocks of Hollywood Boulevard and three blocks of Vine Street in Hollywood, California.</h3>
          </div>
          <div class="col-sm">
          </div>
        </div>
	  </div>
    </div>
    <br>
    <br>
	<div class="Attraction">
      <div class="container-fluid rounded">
        <div class="row">
          <div class="col-sm">
              <h1>The Hollywood Sign</h1>
      			  <img src="/static/img/Hollywood_Sign.jpg" alt="Hollywood Sign">
              <br>
              <br>
      			  <h3>The Hollywood Sign is an American landmark and cultural icon overlooking Hollywood, Los Angeles, California. It is situated on Mount Lee, in the Hollywood Hills area of the Santa Monica Mountains.
      			  "HOLLYWOOD" is spelled out in 45-foot-tall white capital letters and is 352 feet long.</h3>
          </div>
          <div class="col-sm">
          </div>
        </div>
	  </div>
  </div>
</div>
{% endblock %}
