{% extends "layout.html" %}

{% block content %}
<div class="rentform">
  <div class="container-fluid rounded">
    <div class="row">
      <div class="col-sm">
          <h1>Sorry but your booking has failed,</h1>
          <h3>due to entering a start date and end date on the same day. You must stay atleast one night.</h3>
          <a href="rent" class="btn btn-info">Take me back to booking page</a>
      </div>
      <div class="col-sm">
      </div>
    </div>
  </div>
</div>
{% endblock %}
